.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.dancing-script-normal {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
nav {
  font-weight: 500;
  font-size: 1.3em;
}
nav a {
  text-decoration: none;
  list-style-type: none;
  padding: 1rem;
}
nav a:active, nav a:visited, nav a:link {
  color: black;
}
#nav-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}
#nav-1 {
  background-color: #ccc;
}
#nav-2 {
  background-color: #ddd;
}
#nav-3 {
  background-color: #ccc;
}
#nav-3 i {
  display: inline;
  margin-right: 0.5rem;
}
#nav-bar li {
  display: inline-block;
  margin-right: 10px;
}
#nav-bar div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#nav-2, #nav-3 {
  padding: 1rem;
}
#home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}
#home img {
  width: 1.5rem;
  height: 1.5rem;
}
@media only screen and (max-width: 768px) {
  #nav-bar {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  nav div {
    padding: 0.2rem;
  }
  #home {
    padding: 0.5rem;
  }
}
#main-heading {
  border: 1px solid black;
  text-align: center;
  padding: 5vh 0;
}
#main-heading {
  font-size: 2rem;
}
#main-heading i {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  font-weight: 700;
  color: darkred;
}
#cards a {
  text-decoration: none;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#cards div {
  border: 1px solid green;
  padding: 1rem;
}