.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#nav-menu li {
    width: 100%;
    text-align: center;
}
#nav-menu a {
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 15px 0;
    font-size: 2.2vw;
}
#home {
    background-color: #15aa15;
}
#home a:active {
    color: white;
}
#home a:hover {
    background-color: #559155;
}
#home a:visited {
    color: white;
}
#empty, #links, #search {
    color: #15aa15;
    background-color: #eee;
}
#empty a:active, #links a:active, #search a:active {
    color: #15aa15;
}
#empty a:visited, #links a:visited, #search a:visited {
    color: #15aa15;
}
#empty a:link, #links a:link, #search a:link {
    color: #15aa15;
}
#links a:hover, #search a:hover {
    background-color: #dee5de;
}
@media only screen and (max-width: 768px) {
  
}

/* BODY Section */
#main-heading {
  /* border: 1px solid black; */
  text-align: center;
  font-size: 4vw;
  padding: 4rem 0;
  background-image: url('images/sky.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}
#main-heading i {
  font-family: "Courgette", cursive;
  font-size: 4.2vw;
  font-weight: 700;
  color: red;
}
#cards a {
  text-decoration: none;
}
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#cards div {
  border: 1px solid green;
  padding: 1rem;
}